{% extends 'back/base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block stylecss %}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Post</h1>

        {{ include('back/post/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('post_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>

        {{ include('back/post/_delete_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
{% endblock %}