{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <div class="container">
        <h1>Post</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ post.author.email }}</td>
            </tr>
            <tr>
                <th>Categories</th>
                <td>
                    {% if post.categories.count > 0 %}
                        {% for category in post.categories %}
                            <span class="badge badge-pill badge-dark">{{ category.name }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="badge badge-pill badge-dark">Aucune</span>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('post_index') }}" class="btn btn-secondary mr-2">Retour à la liste</a>

        <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-warning">Modifier</a>

        {{ include('post/_delete_form.html.twig') }}

    </div>
{% endblock %}
